@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
/* 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace; 
*/

:root {
    --bgColor: #161616;
    --textColor: #929292;
    --correctColor: #F8F8F8;
    --incorrectColor: #988af0;
    --bgIncorrect: #161616;
    --detailsColor: #7F6DF2;
    --activeWord: #646464;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--bgColor);
}

.wrapper {
    width: 770px;
    padding: 30px;
    background: var(--detailsColor);
    border-radius: 10px;
}

.wrapper .input-field {
    z-index: -999;
    opacity: 0;
    position: absolute;
}

.wrapper .content-box {
    padding: 13px 20px 0;
    /* border: 1px solid var(--bgColor); */
    border-radius: 10px;
}

.content-box .typing-text {
    max-height: 155px;
    overflow-y: auto;
}

.typing-text::-webkit-scrollbar {
    width: 0;
}

.typing-text p {
    font-size: 21px;
    font-family: 'Roboto Mono', monospace; ;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}

.typing-text p span {
    position: relative;
}

.typing-text p span {
    position: relative;
}

.typing-text p span.correct {
    color: var(--correctColor);
}

.typing-text p span.incorrect {
    color: var(--incorrectColor);
    background: var(--bgIncorrect);
    border-radius: 1px;
}

/* .typing-text p span.active {
    color: var(--correctColor);
} */

.typing-text p span.active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    opacity: 1;
    background: var(--bgIncorrect);
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    50%{
        opacity: 0;
    }
}

.content-box .content {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
    padding: 12px 0;
    border-top: 1px solid var(--bgColor);
}

.content button {
    border: none;
    outline: none;
    width: 105px;
    padding: 8px 0;
    color: var(--detailsColor);
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background: var(--bgColor);
    transition: transform 0.3s ease;
}

.content button:active {
    transform: scale(.95);
}

.content .result-details {
    display: flex;
    width: calc(100% -140px);
    justify-content: space-between;
    align-items: center;
}

.result-details li {
    height: 22px;
    display: flex;
    list-style: none;
}

.result-details li p {
    font-size: 19px;
}

.result-details li span {
    display: block;
    font-size: 20px;
    margin-left: 10px;
}

.result-details li b {
    font-weight: 500;
}